<div class="container mt-5">

    <form #f='ngForm' (submit)="OnSubmit(f)">
        <div class="form-group">
            <label>Full Name</label>
            <input type="text" class="form-control" name="fullName" placeholder="Enter Your Name Here" ngModel
                #fullName='ngModel' (change)="getValue(fullName)" [ngClass]="{ 'is-valid' : fullName.valid}" required
                minlength="5" maxlength="10">

            <!-- <div class="alert alert-danger"
            *ngIf = "fullName.touched && fullName.invalid">Full Name is invalid
            </div> -->



            <div *ngIf="fullName.errors?.['required']">
                <div class="alert alert-danger" *ngIf="fullName.touched && fullName.invalid"> Full Name is required
                </div>
            </div>

            <div *ngIf="fullName.errors?.['minlength']">
                <div class="alert alert-danger" *ngIf="fullName.touched && fullName.invalid"> Full name is too short
                </div>
            </div>

        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" placeholder="abc@gmail" ngModel email #email='ngModel'
                (change)="getValue(email)" [ngClass]="{'is-valid' : email.valid}"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>

            <div *ngIf="email.errors?.['required']">
                <div class="alert alert-danger" *ngIf="email.touched && email.invalid"> Give me Email
                </div>
            </div>

            <div *ngIf="email.errors?.['pattern']">
                <div class="alert alert-danger" *ngIf="email.touched && email.invalid"> is not in correct format
                </div>
            </div>


        </div>
        <div class="form-group">
            `<label>Address</label>
            <textarea class="form-control" name="address" id="address" ngModel #address='ngModel'
                (change)="getValue(address)" [ngClass]="{'is-valid' : address.valid}" required></textarea>


            <div class="alert alert-danger" *ngIf="address.touched && address.invalid">Address nehi doge to Kaise
                chalega
            </div>


        </div>

        <button type="submit" class="btn btn-success" [disabled]="f.invalid">Submit</button>
    </form>
</div>